{% extends "base.html" %}

{% block content %}
    <div id="announcements">
        <h1>Новини</h1>
        {% for announcement in announcements %}
            <article class="announcement">
                <h2>{{ announcement.title }}</h2>
                <div class="published-at">
                    Публикувано на
                    <time datetime={{ announcement.created_at|date:"c"}} pubdate="pubdate">
                    {{announcement.created_at|date:"d.m.Y H:i"}}
                    </time>
                </div>
                <p>{{ announcement.body }}</p>
            </article>
        {% endfor %}
    </div>
{% endblock content %}