{% extends "base.html" %}

{% block CSS %}
    <link href="/static/announcements.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock CSS %}

{% block content %}
    <div id="announcements">
        <h1>Новини</h1>
        {% for announcement in announcements %}
            <article class="announcement">
                <h2>{{ announcement.title }}</h2>
                <div class="published-at">
                    Публикувано на
                    <time datetime={{ announcement.timestamp }} pubdate="pubdate">
                    23.03.2013 10:17
                    </time>
                </div>
                <p>{{ announcement.body }}</p>
            </article>
        {% endfor %}
    </div>
{% endblock content %}