{% extends "base.html" %}

{% block content %}
    <h1>Потребители</h1>
    <ul class='users'>
        {% for user in users %}
            <li>
                <a href="{% url 'users.views.user-detail' user.pk %}">
                    {% include "evans_avatar.html" with user=user %}
                    {{ user.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="previous_page" rel="prev" href="?page={{ page_obj.previous_page_number }}">&#8592;</a>
            {% else %}
                <span class="previous_page disabled">&#8592;</span>
            {% endif %}
            {% for page_number in users.paginator.page_range %}
                {% if page_number == page_obj.number %}
                    <em class="current">{{ page_obj.number }}</em>
                {% elif page_number == page_obj.next_page_number %}
                    <a rel="next" href="?page={{page_number}}">{{page_number}}</a>
                {% elif page_number == page_obj.previous_page_number %}
                    <a href="?page={{page_number}}" rel="prev">{{page_number}}</a>
                {% else %}
                    <a href="?page={{page_number}}">{{page_number}}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="next_page" rel="next" href="?page={{ page_obj.next_page_number }}">&#8594;</a>
            {% else %}
                <span class="previous_page disabled">&#8594;</span>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}