{% load custom_filters %}
{% load guardian_tags %}
<li>
    <article data-starred='{{post|is_starred}}' id='{{post|classname}}_{{ post.pk }}'>
        <aside>
            <a href="{{post.author.get_absolute_url}}">
                {% include "evans_avatar.html" with user=post.author %}
            </a>
            <a href="{{post.author.get_absolute_url}}">
                {{ post.author.shorten_name }}
            </a>
        </aside>
        <div class='body'>
            <p>{{ post.body }}</p>
        </div>
        <div class='published-at'>
            <a href="{% url 'topics.views.post-view' post.pk %}" class="permalink" title="Трайна връзка">
                Публикувано преди
                <time datetime='{{ post.created_at|date:"c"}}'>
                    {{ post.created_at|timesince }}
                </time>
            </a>
            {% get_obj_perms user for post as "post_perms" %}
            {% if post|classname == "reply" and post.author == user or user.is_staff %}
                <a href="{% url 'topics.views.reply.reply-edit' post.topic.pk post.pk %}">Редактирай</a>
            {% elif post|classname == "topic" and post.author == user or user.is_staff %}
                <a href="{% url 'topics.views.topic.topic-edit' post.pk %}">Редактирай</a>
            {% endif %}
        </div>
    </article>
</li>