{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
    <h1>{{ topic.title }}</h1>
    {% include "evans_pagination.html" %}

    <ol class='topic'>
        {# Show the topic's body on the first page #}
        {% if page_obj.number == 1 %}
            {% include "evans_post.html" with post=topic %}
        {% endif %}

        {% for reply in page_obj %}
            {% include "evans_post.html" with post=reply %}
        {% endfor %}
    </ol>
    {% include "evans_pagination.html" %}
    {% if user.is_authenticated %}
        <div class='new-reply'>
            <h2>Отговорете на темата</h2>
            <form accept-charset="UTF-8" action="" class="simple_form new_reply" id="new_reply" method="post">
                {% csrf_token %}
                {% include "evans_EditField.html" with field=form.body|attr:"cols:40"|attr:"rows:20" %}
                <p class='markdown-explanation'>
                    Форумите се форматират с <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.
                    Той конвертира текст до HTML. Ползва се много в open source community-то (и в частност, Ruby
                    community-то). Добре е да го знаете. Може да ползвате <a href="http://www.emoji-cheat-sheet.com">Emoji</a>
                    емотикони, ако искате да бъдете по-графични.
                </p>
                <input class="button" name="commit" type="submit" value="Отговори" />
            </form>
        </div>
    {% else %}
        <p class="requires-authentication">
            Трябва да сте влезли в системата, за да може да отговаряте на теми.
        </p>
    {% endif %}
{% endblock content %}