{% extends "base.html" %}

{% block content %}
<h1>Нова тема</h1>
<form accept-charset="UTF-8" action="/topics/new" class="simple_form new_topic" id="new_topic" method="post">
    <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="&#x2713;" />{% csrf_token %}
    </div>

    <div class="input string required">
        <label class="string required" for="topics_title">
            Заглавие
            <abbr title="required">*</abbr>
        </label>
        <input class="string required" id="topics_title" name="title" required="required" size="50" type="text" />
    </div>
    <div class="input text required">
        <label class="text required" for="topics_body">
            Съдържание 
            <abbr title="required">*</abbr>
        </label>
        <textarea class="text required" cols="40" id="topics_body" name="body" required="required" rows="20">
        </textarea>
    </div>
    <p class='markdown-explanation'>
    Форумите се форматират с <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.
    Той конвертира текст до HTML. Ползва се много в open source community-то (и в частност, Ruby
    community-то). Добре е да го знаете. Може да ползвате <a href="http://www.emoji-cheat-sheet.com">Emoji</a>
    емотикони, ако искате да бъдете по-графични.
    </p>


    <input name="commit" type="submit" value="Публикувай" />
</form>

{% endblock content %}